*{
  margin: 0px;
  padding: 0px;
}

.ui {
  background-color: cadetblue;
  height: 100vh;
  width: 100vw;
}

.menu {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 30px;
  width: 100vw;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;    
  width: 10%;
  height: 10%;
    
}

.enemy-grid {
  margin: 10px;
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-wrap: wrap;  
}
.player-grid {
  margin: 10px;  
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-wrap: wrap;    
}

.ship {
  background-color: grey;
}

.grid-container {
  display: flex;
  margin: 10px;
}

.hit {
  background-color: coral;
  color: red;
}

.miss {
  background-color: rgb(107, 107, 196);
  color: blue;
}

