*{
  margin: 0px;
  padding: 0px;
}

.ui {
  background-color: cadetblue;
  height: 100vh;
  width: 100vw;
}

.menu {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 30px;
  width: 100vw;
}

.cell {
  background-color: blue;    
  width: 10%;
  height: 10%;  
}

.enemy-grid {
  display: flex;
  
}
.player-grid {  
  width: 40vw;
  height: 40vw;
  display: flex;
  flex-wrap: wrap; 
    
}

.ship {
  background-color: lightgray;
}

